// Hero
section.hero{
  position: relative;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding: 200px 0px $padding;
  .content {
    h1 {
      font: $normal 5.6rem/7rem $regular;
      font-size: 5.6rem;
      line-height: 7rem;
      color: $white;
      @media (max-width: $breakpoint-tablet) {
        font: $normal 4.2rem/5.2rem $regular;
      }
    }
    p {
      font: $normal 2rem/3rem $regular;
      font-size: 2rem;
      line-height: 3rem;
      color: $white;
      @media (max-width: $breakpoint-tablet) {
        font: $normal 1.8rem/3rem $regular;
      }
    }
  }
}

// Call To Action
section.component--cta {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @include aspect-ratio(1,1);
  @media (min-width: $breakpoint-tablet) {
    padding: 0px;
    @include aspect-ratio(2,1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .float {
    @include vertical-align;
    width: 100%;
  }
  .content {
    h2 {
      color: $white;
      font: $normal 4.6rem/6rem $regular;
      font-size: 4.6rem;
      line-height: 6rem;
      margin-bottom: 10px;
      @media (max-width: $breakpoint-tablet) {
        font: $normal 3.2rem/4.2rem $regular;
      }
    }
    p {
      font: $normal 2.6rem/4rem $regular;
      font-size: 2.6rem;
      line-height: 4rem;
      color: $white;
      @media (max-width: $breakpoint-tablet) {
        font: $normal 1.8rem/3rem $regular;
      }
    }
  }
}

// Text Block 
section.component--text-block {
  .content {
    font: $normal 2.6rem/4rem $regular;
    font-size: 2.6rem;
    line-height: 4rem;
    h2 {
      color: $white;
      font: $normal 3.4rem/4.6rem $regular;
      font-size: 3.4rem;
      line-height: 4.6rem;
    }
  }

  
  &.blue {
    .content {
      color: $black;
    }
    .figure {
      border-top: 4px solid $black;
      color: $black;
    }
  }
}

// Promotion 
section.component--promotions {
  .promotion {
    @media (max-width: $breakpoint-tablet) {
      padding: 20px 0px;
    }
    font: $normal 1.8rem/2.8rem $regular;
    h3 {
      color: $white;
      font: $normal 2.4rem/3.4rem $regular;
    }
    .image {
      margin-bottom: 20px;
    }
    .text {
      padding-bottom: 40px;
    }
    &.four.columns { // Fix offset on 2 items
      &:last-child {
        @media (min-width: $breakpoint-tablet) {
        margin-left: 4%;
        }
      }
    }
  }
  &.blue {
    .promotion {
      .text {
        color: $black;
      }
      .figure {
        
        border-top: 4px solid $black;
        color: $black;
      }
      .description {
        color: $black;
      }
    }
  }
}

// Gallery
section.component--gallery {
  .container {
    padding: $padding 0px $padding-half 0;
    border-top: 4px solid $black;
    border-bottom: 4px solid $black;
    .popup-item, .slick-slide {
      padding-bottom: $padding-half;
    }
    .one-third:nth-child(3n+4) {
      margin-left: 0;
      clear: left;
    }
  }
}

section.component--gallery {
  + section.component--gallery {
    padding: $padding 0px 0px 0px;
    .container {
      padding: 0px 0px $padding-half 0px;
      border-top: none;
    }
  }
}

// Component positioning
section.component {
  padding: $padding 0px 0px 0px;
  &:first-child {
    padding: $padding 0px 0px 0px;
  }
  &:last-child {
    padding: $padding 0px $padding-half 0px;
  }
  &:first-child:last-child {
    padding: $padding 0px 0px $padding 0px;
  }
}
section.component--cta {
  margin: $padding 0px 0px 0px;
  &:first-child {
    margin: 0px;
  }
}

.component--cta {
  + .component--cta {
    margin: 0px;
  }
}
section.page, section.post {
  + .components {
    margin-top: -$padding;
  }
}