@font-face {
  font-family: 'oswald-bold';
  font-style: normal;
  src: url('../fonts/Oswald-Bold.ttf');
}
@font-face {
  font-family: 'oswald-light';
  font-style: normal;
  src: url('../fonts/Oswald-ExtraLight.ttf');
}
@font-face {
  font-family: 'oswald-regular';
  font-style: normal;
  src: url('../fonts/Oswald-Regular.ttf');
}

