// Fonts
@font-face {
  font-family: 'F37Jagger-Bold';
  src: url('../fonts/F37Jagger-Bold.otf');
  font-style: normal;
}

@font-face {
  font-family: 'F37Jagger-Regular';
  src: url('../fonts/F37Jagger-Regular.otf');
  font-style: normal;
}
 
@font-face {
  font-family: 'ParaSupreme-BlackNormal';
  src: url('../fonts/ParaSupreme-BlackNormal.otf');

  font-style: normal;
}