// Avenir
@font-face {
  font-family: 'oswald-bold';
  font-style: normal;
  src: url('../css/fonts/Oswald-Bold.ttf');
}
@font-face {
  font-family: 'oswald-light';
  font-style: normal;
  src: url('../css/fonts/Oswald-ExtraLight.ttf');
}
@font-face {
  font-family: 'oswald-regular';
  font-style: normal;
  src: url('../css/fonts/Oswald-Regular.ttf');
}

$body-font: "oswald-regular";
$body-light: "oswald-light";
$body-bold: 'oswald-bold';

// Weights
$normal: normal;

// Colours
$blue: #090180;
$peach: #FFC4C4;
$marine: #00DBF2;
$yellow: #E9DC61;
$pink: #FF0071;
$purple: #8377D1;
$dark-purple: #4E2A84;
$green: #91E600;
$pale-pink: #EEE4E1;
$light-pink: #F5D7E3;
$med-pink: #F4A5AE;
$sage: #A4C3B2;
$dark-pink: #A8577E;

$black: #000;
$white: #fff;

// Breakpoints
$breakpoint-mobile: 500px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1000px;
$breakpoint-desktop: 1200px;

// Padding
$padding: 80px;
$padding-half: 40px;
$padding-quarter: 20px;
// General

::selection {
  color: $black;
  background: $white !important;
  text-shadow: none !important;
}
    
::-moz-selection {
  color: $black;
  background: $white;
  text-shadow: none !important;
}

html, body {
  min-height: 100%;
}

body {
  background: $pale-pink;
  line-height: 1.8;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased; // Fix fonts looking rubbish in Chrome
  font-size: 16px; 
  @media (max-width: $breakpoint-laptop) {
    font-size: 25px;
  }
}

// Page 
  h1, h2, h3, h4, h5 {
    font-family: $body-font;
  }
  h1 {
    font: $normal 3.6rem/5rem $body-font;
    margin-bottom: 20px;
    font-size: 3.6rem;
  }
  h2 {
    font: $normal 3.6rem/5rem $body-font;
    margin-bottom: 10px;
    font-size: 3.6rem;
    line-height: 5rem;
    
  }
  h3 {
    font: $normal 2rem/2.6rem $body-font;
    margin-bottom: 10px;
    font-size: 2rem;
  }
  h4 {
    font: $normal 1.8rem/2.4rem $body-font;
    margin-bottom: 10px;
    font-size: 1.8rem;
  }
  h5 {
    font: $normal 1.6rem/2rem $body-font;
    margin-bottom: 10px;
    font-size: 1.6rem;
  }
  p {
    &.lead {
      font: $normal 1.8rem/2.8rem $body-font;
    }
    &.center {
      text-align: center;
    }
  }
  b, strong {
    font-weight: font;
  }
  em, i {
    font-style: italic;
  }
  blockquote {
    border-left: 10px solid $white;
    padding: $padding-quarter;
    @media (min-width: $breakpoint-tablet) {
      padding: $padding-quarter 0 $padding-quarter $padding;
    }
    font: $normal 2.8rem/4.6rem $body-font;
    p {
      display: inline;
    }
  }


section.four-oh-four {
  overflow: hidden;
  background: url('../img/space.png') center center no-repeat;
  background-size: cover;
  z-index: -1;
  height: 100vh;
  .content {
    color: white;
    font-size: 70px;
    text-align: center;
    padding-top: 30%;
    p, h1 {
      z-index: 9;
      position: absolute;
    }
    a {
      color: white;
    }
  }
  .cats {
    .cat-one {
      z-index: 0;
      position: absolute;
      animation: float-two 7s ease-in-out infinite;
      padding-top: 700px;
    }
    .cat-two {
      z-index: 0;

      position: absolute;
      animation: float 9s ease-in-out infinite;
      padding-top: 800px;
      overflow: hidden;
      padding-left: 700px;
    }
    .cat-three {
      z-index: 0;
      
      position: absolute;
      padding-left: 750px; 
      animation: float-three 6s ease-in-out infinite;
    }
  }
}

@keyframes opacity {
	to {
		opacity: 1;
	}
}