// Avenir
$regular: Helvetica, Arial, sans-serif;
$bold: Helvetica, Arial, sans-serif;

// Weights
$normal: normal;

// Colours
$blue: #090180;
$peach: #FFC4C4;
$marine: #00DBF2;
$yellow: #E9DC61;
$pink: #FF0071;
$purple: #B67AFF;
$green: #91E600;

$black: #000;
$white: #fff;

// Breakpoints
$breakpoint-mobile: 400px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 900px;
$breakpoint-desktop: 1200px;

// Padding
$padding: 80px;
$padding-half: 40px;
$padding-quarter: 20px;
// General

::selection {
  color: $black;
  background: $white !important;
  text-shadow: none !important;
}
    
::-moz-selection {
  color: $black;
  background: $white;
  text-shadow: none !important;
}

img {
  max-width: 100%;
  height: auto; 
}

p {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0px;
  }
}

html { // 1.5rem = 15px
  font-size: 62.5%;
}

html, body {
  min-height: 100%;
}

body { 
  font-size: 1.6em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.8;
  font-family: $regular;
  color: $white;
  -webkit-font-smoothing: antialiased; // Fix fonts looking rubbish in Chrome
  background: #282922;
}

// Page 
section {
  &.page, &.post {
    padding: $padding 0px;
    font: $normal 2rem/3.6rem $regular;
    font-size: 2rem;
    line-height: 3.6rem;
    @media (min-width: $breakpoint-tablet) {
      font: $normal 2.6rem/4rem $regular;
      font-size: 2.6rem;
      line-height: 4rem;
    }
    article.profile {
      margin-bottom: $padding;
      img {
        margin-top: $padding-quarter;
      }
      &:nth-child(3n+4) {
        margin-left: 0;
        clear: left;
      }
    }
  }
  h1, h2, h3, h4, h5 {
    color: $white;
    font-family: $bold;
  }
  h1 {
    font: $normal 3.6rem/5rem $regular;
    margin-bottom: 20px;
    font-size: 3.6rem;
  }
  h2 {
    font: $normal 3.6rem/5rem $regular;
    margin-bottom: 10px;
    font-size: 3.6rem;
    line-height: 5rem;
    
  }
  h3 {
    font: $normal 2rem/2.6rem $bold;
    margin-bottom: 10px;
    font-size: 2rem;
  }
  h4 {
    font: $normal 1.8rem/2.4rem $regular;
    margin-bottom: 10px;
    font-size: 1.8rem;
  }
  h5 {
    font: $normal 1.6rem/2rem $regular;
    margin-bottom: 10px;
    font-size: 1.6rem;
  }
  p {
    &.lead {
      font: $normal 1.8rem/2.8rem $regular;
    }
    &.center {
      text-align: center;
    }
  }
  b, strong {
    font-weight: bold;
  }
  em, i {
    font-style: italic;
  }
  blockquote {
    border-left: 10px solid $white;
    color: $white;
    padding: $padding-quarter;
    @media (min-width: $breakpoint-tablet) {
      padding: $padding-quarter 0 $padding-quarter $padding;
    }
    font: $normal 2.8rem/4.6rem $regular;
    p {
      display: inline;
    }
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translate3d(42px, -62px, -135px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float-two {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translate3d(-45px, 50px, 10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float-three {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translate3d(0, 50px, 0);
  }
  100% {
    transform: translatey(0px);
  }
}

section.four-oh-four {
  overflow: hidden;
  background: url('../img/space.png') center center no-repeat;
  background-size: cover;
  z-index: -1;
  height: 100vh;
  .content {
    color: white;
    font-size: 70px;
    font-family: "space mono";
    text-align: center;
    padding-top: 30%;
    p, h1 {
      z-index: 9;
      position: absolute;
    }
    a {
      color: white;
    }
    h1 {
      font-family: "space mono";
    }
  }
  .cats {
    .cat-one {
      z-index: 0;
      position: absolute;
      animation: float-two 7s ease-in-out infinite;
      padding-top: 700px;
    }
    .cat-two {
      z-index: 0;

      position: absolute;
      animation: float 9s ease-in-out infinite;
      padding-top: 800px;
      overflow: hidden;
      padding-left: 700px;
    }
    .cat-three {
      z-index: 0;
      
      position: absolute;
      padding-left: 750px; 
      animation: float-three 6s ease-in-out infinite;
    }
  }
}

@keyframes opacity {
	to {
		opacity: 1;
	}
}