footer {
  .footer__inner {
    .contact {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 20px;
      @media (max-width: $breakpoint-laptop) {
        font-size: 40px;
      }
    }
  }
}
img {
  width: 20px;
  height: 20px;
}