// Home

.home {
  color: $dark-pink;
  background: $pale-pink;
  .container {
    .content {
      padding: 5em 0;
      .title {
        margin-bottom: 2em;
        font-size: 20px;
        @media (max-width: $breakpoint-laptop) {
          font-size: 45px;
        }
        .about {
          border-bottom: 1px solid white;
          padding-bottom: 1em;
          h2 {
            font-size: 45px;
            font-family: $body-bold;
            @media (min-width: $breakpoint-laptop) {
              font-size: 30px;
            }
          }
          .email, .cv { 
            a {
              text-decoration: none;
              color: $dark-pink;
            }
          }
          p {
            font-size: 45px;
            padding-bottom: 1em;
            @media (min-width: $breakpoint-laptop) {
              font-size: 20px;
            }
          }
        }
      }
      .logo {
        background: $sage;
        margin-bottom: 2em;
        border-radius: 50px;
        height: 100px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width: $breakpoint-mobile) {
          height: 150px;
          width: 150px;
          border-radius: 80px;
        }
        h1 {
          color: $pale-pink;
          font-size: 50px;
          font-family: $body-light;
          margin: 0;
          @media (min-width: $breakpoint-mobile) {
            font-size: 70px;
          }
        }
      }
      .work-title {
        padding-bottom: 20px;
        @media (max-width: $breakpoint-laptop) {
          padding-bottom: 50px;
        }
      }
      .grid {
        display: flex;
        gap: 2%;
        flex-wrap: wrap;
        .list-item {
          position: relative;
          margin-bottom: 5em;
          flex: 100%;
          @media (min-width: $breakpoint-laptop) {
            flex: 48%;
            max-width: 48%;
          }
          @media (min-width: $breakpoint-laptop) {
            flex: 30%;
            max-width: 30%;
          }
          @media (min-width: $breakpoint-desktop) {
            flex: 23%;
            max-width: 23%;
          }
          img {
            height: 350px;
            width: 100%;
            border-radius: 15px;
            object-fit: cover;
            transition: .5s ease;
            backface-visibility: hidden;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            @media (max-width: $breakpoint-laptop) {
              height: 600px;
            }
          }
          .project-title {
            font-size: 22px;
            font-family: $body-bold;
            margin: 10px 0;
            @media (max-width: $breakpoint-laptop) {
              font-size: 55px;
            }
            a {
              text-decoration: none;
              color: $dark-pink;
              &:hover {
                color: $sage;
              }
            }
          }
          .copy {
            @media (max-width: $breakpoint-laptop) {
              font-size: 45px;
            }
          }
          .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 38%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
            border-radius: 50px;
            a {
              text-decoration: none;
            }
          }
          
        }
        .list-item:hover .image {
          opacity: 0.3;
        }
        
        .list-item:hover .middle {
          opacity: 1;
        }
        
        .visit {
          background-color: $sage;
          text-transform: uppercase;
          color: white;
          font-size: 16px;
          border-radius: 150px;
          padding: 32px;
        }
      }
    }
  }
}


footer {
  .footer__inner {
    border-top: 1px solid white;
    .contact {
      padding: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        width: 40px;
        height: 40px;
      }
      p {
        text-transform: uppercase;
        margin: 0;
      }
      a {
        padding-bottom: 10px;
        text-decoration: none;
        color: $dark-pink;
      }
    }
  }
}