// Home
section.home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    img {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    .content {
        margin-left: auto;
        margin-right: auto;

        text-align: center;
        animation-name: fadeIn;
        animation-duration: 1.5s;
        animation-delay: 1s;
        animation-timing-function: linear;
        animation-direction: normal;
        animation-fill-mode: forwards;
        h1 {
            color: $marine;
            letter-spacing: 3px;
            font-size: 70px;
            font-family: "space mono";
            /*/text-transform: uppercase;*/
            padding-bottom: 30px;
        }
        h2 {
            display: block;
            font-family: "space mono";
        }
        .typewriter {
            max-width: 510px;
            display: inline-block;
            color: #E9DC61;
            font-size: 50px;
            font-family: "space mono";
            overflow: hidden; /* Ensures the content is not revealed until the animation */
            border-right: .15em solid $green; /* The typwriter cursor */
            white-space: nowrap; /* Keeps the content on a single line */
            margin: 0 auto; /* Gives that scrolling effect as the typing happens */
            letter-spacing: .15em; /* Adjust as needed */
            animation: typing 4s steps(30, end),
            blink-caret .9s step-end infinite;
            animation-delay: 1s;
            margin-bottom: 20px;
        }
        p {
            font-family: "space mono";
        }
    }
    span {
        color: #FF0071;
        &.green {
            color: $green;
        }
        &.yellow {
            color: $yellow;
        }
    }
    ul {
        li {
            display: inline-block;
            padding-left: 20px;
            a {
                cursor: pointer;
                text-transform: uppercase;
                font-size: 13px;
                padding-bottom: 4px;
                letter-spacing: 2px;
                color: $yellow;
                text-decoration: none;
                &:hover {
                    color: #CABE55;
                    border-bottom: .5px solid #CABE55;
                }
            }
        }
    }
}
@keyframes rollIn {
  0% {
    transform: translateX(0px) rotate(0deg); 
  }
  100% {
    transform: translateX(-250%) rotate(-260deg); 
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@keyframes typing {
  from { 
    width: 0
  }
  to { 
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { 
    border-color: transparent
  }
  50% { 
    border-color: $green
  }
}
@keyframes colour {
  from {
    background: $blue;
  }
  to {
    background: #282922
  }
}

.logo {
    animation-name: rollIn;
    animation-duration: 2.5s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
