// Work

.work {
  .container {
    .content {
      padding-bottom: 150px;
      h1 {
        font-family: "space mono";
        color: $marine;
        padding: 80px 0 40px 0;
        @media (min-width: $breakpoint-tablet) {
          font-size: 50px;
          padding: 80px 0 80px 0;
        }
      }
      .grid {
        display: grid;
        grid-gap: 100px;
        h2 {
          color: $peach;
          padding-bottom: 20px;
          font-family: "space mono";
          @media (min-width: $breakpoint-tablet) {
            font-size: 40px;
          }
        }
        .cell {
          display: grid;
          grid-gap: 20px;
          align-items: center;
          font-family: "space mono";
        }
        @media (max-width: $breakpoint-tablet) {
          .cell:nth-child(even) {
            img {
              order: 2;
            }
          }
        }
        @media (min-width: $breakpoint-tablet) {
          .cell:nth-child(odd) {
            grid-template-columns: 60% 40%;
          }
          .cell:nth-child(even) {
            grid-template-columns: 40% 60%;
          }
        }
      }
    }
  }
}